@import '../../../variables/variables.scss';
.section {
  width: 100%;
}
.container {
  max-width: $desktop;
  margin: 0 auto;
  padding: 0 30px;
}
.main {
  margin: 15px 0px 0px 0px;

  &_search {
    margin-top: 18px;
    margin-bottom: 15px;
    max-width: 716px;
    display: flex;
    justify-content: start;
    gap: 10px;
  }
  &__search_value {
    width: 600px;
    height: 47px;
    border-radius: 10px;
    @include font($fontSize18, $fontWeight400);
    border: 1px solid black;
    padding: 0px 0px 0px 20px;
    position: relative;
  }
  &__search_button {
    width: 100px;
    height: 45px;
    border: 1px solid var(--colorBlack);
    border-radius: 10px;
    cursor: pointer;
  }
  &__clear_icon {
    position: absolute;
    margin-right: 20px;
  }
}

.price__sort {
  margin-right: 50px;
}
.sort {
  display: flex;
  gap: 25px;
  &__price {
    color: var(--colorBlack);
    display: flex;
    gap: 3px;
    cursor: pointer;
    &:active {
      color: var(--colorGreen);
    }
  }
}
.activeSort {
  color: var(--colorGreen);
  cursor: pointer;
  display: flex;
  column-gap: 3px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: end;
}

@media (max-width: $desktop1366) {
  .container {
    max-width: $desktop1340;
  }
  .main__card {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}
@media (max-width: $desktop1250) {
  .container {
    max-width: $desktop1200;
  }
  .main__card {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
}

@media (max-width: $tablet950) {
  .container {
    max-width: $tablet930;
  }
  .main {
    &__search_value {
      width: 400px;
    }
  }
}
@media (max-width: $tablet820) {
  .container {
    max-width: $tablet800;
  }
  .main__card {
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
  }
  .price__sort {
    margin-right: 10px;
  }
}
@media (max-width: $mobile520) {
  .container {
    max-width: $mobile500;
  }

  .main {
    &_search {
      max-width: 450px;
    }
    &__search_value {
      height: 40px;
      @include font($fontSize14, $fontWeight400);
      width: 64vw;
    }
    &__search_button {
      @include font($fontSize14, $fontWeight400);
      height: 40px;
      width: 100px;
    }
    .price__sort {
      margin-right: 2px;
    }
  }
  .sort {
    flex-direction: column;
    row-gap: 10px;
  }
  .sort__price {
    @include font($fontSize14, $fontWeight400);
  }
}
@media (max-width: 414px) {
  .container {
    max-width: 400px;
  }

  .main {
    &__search_value {
      width: 240px;
    }
  }
  .sort {
    @include font($fontSize14, $fontWeight400);
  }
}
