
@mixin fontSize22 {
    font-size: 22px;
}

@mixin fontFamilyInter {
    font-family: Inter;
}
@mixin fontSize20 {
    font-size: 20px;
}
@mixin fontSize14 {
    font-size: 14px;
}
@mixin fontSize16 {
    font-size: 16px;
}
@mixin fontSize18 {
    font-size: 18px;
}
@mixin fontSize32 {
    font-size: 18px;
}
$colorBlack: black;
$colorGreen: green;
$colorRed: #F41E1E;
$colorBlue: #17156C;
$color:  #EEF2D1;
$colorWhite: white;





