$fontWeight400: 400;
$fontWeight500: 500;
$fontWeight600: 600;

$fontSize20: 20;
$fontSize22: 22;
$fontSize14: 14;
$fontSize32: 32;

$fontSize18: 18;
$fontSize17: 17;
$fontSize16: 16;
$fontSize15: 15;

$fontStyle: normal;

@mixin font($size, $weight, $style: normal, $family: Inter) {
  font-size: #{$size + px};
  font-weight: $weight;
  font-style: $style;
  font-family: $family;
}

:root {
  --black: #000;
  --colorYellow: #eef2d1;
  --colorBlack: black;
  --colorGreen: green;
  --colorRed: #f41e1e;
  --colorBlue: #17156c;
  --colorWhite: white;
}

$desktop: 1640px;

$desktop1366: 1366px;
$desktop1340: 1340px;
$desktop1250: 1250px;
$desktop1200: 1200px;

$desktop1075: 1075px;
$desktop1050: 1050px;

$tablet950: 950px;
$tablet930: 930px;

$tablet820: 820px;
$tablet800: 800px;

$tablet768: 768px;
$tablet740: 740px;

$tablet730: 730px;
$tablet710: 710px;

$tablet620: 620px;
$tablet600: 600px;

$mobile520: 520px;
$mobile500: 500px;

$mobile414: 414px;
$mobile390: 390px;
