@import '../../variables/variables.scss';

section {
  max-width: 100%;
}

.container {
  max-width: $desktop;
  margin: 0 auto;
  padding: 0 5px;
}

.info {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  &__card {
    width: 80vw;
  }
  &__title {
    @include font($fontSize32, $fontWeight600, $fontStyle);
  }
  &__picture {
    margin-right: 60px;
    height: 600px;
    width: 600px;
    border-radius: 40px;
    object-fit: cover;
    border: 1px solid silver;
    float: left;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__description {
    @include font($fontSize20, $fontWeight400, $fontStyle);
  }
  &__description_text {
    @include font($fontSize20, $fontWeight600, $fontStyle);
    margin-bottom: 20px;
    font-weight: bold;
  }
}

@media (max-width: $desktop1366) {
  .container {
    max-width: $desktop1340;
  }
  .info {
    &__picture {
      margin-right: 40px;
      height: 500px;
      max-width: 500px;
    }
    &__description {
      @include font($fontSize18, $fontWeight400);
    }
  }
}
@media (max-width: $desktop1250) {
  .container {
    max-width: $desktop1200;
    margin: 0 auto;
  }
  .info {
    &__picture {
      margin-right: 40px;
      height: 350px;
      max-width: 350px;
    }
    &__description {
      @include font($fontSize18, $fontWeight400);
    }
    &__title {
      @include font($fontSize20, $fontWeight600, $fontStyle);
    }
  }
}

@media (max-width: $desktop1075) {
  .container {
    max-width: $desktop1050;
  }
  .info {
    &__picture {
      margin-right: 40px;
      height: 350px;
      width: 50%;
    }
    &__description {
      @include font($fontSize14, $fontWeight400);
    }
  }
}
@media (max-width: $tablet950) {
  .container {
    max-width: $tablet930;
  }
  .info {
    &__picture {
      margin-right: 40px;
      height: 350px;
      width: 100%;
    }
  }
}
@media (max-width: $tablet820) {
  .container {
    max-width: $tablet800;
    padding: 0 5px;
  }
}
