@import '../../variables/variables.scss';

.headers {
  height: 95px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: var(--colorWhite);
}
.container {
  max-width: $desktop;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 0px 0px;
  &__nav {
    width: 507px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: var(--colorYellow);
    border-radius: 20px;
    @include font($fontSize22, $fontWeight600);
  }
  &__login {
    padding: 13px 25px 13px 25px;
    border: 1px solid var(--colorBlack);
    border-radius: 10px;
  }
  .active {
    color: var(--colorGreen);
  }
}
.burger__block {
  display: none;
}
.burger {
  &__btn {
    position: relative;
    display: inline-block;
    z-index: 9999;
    width: 40px;
    height: 3px;
    background-color: var(--colorBlack);
    transition: 0.6s;
  }
  &__btn::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: var(--colorBlack);
    top: -10px;
    left: 0;
    transition: 0.6s;
  }
  &__btn::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: var(--colorBlack);
    bottom: -10px;
    left: 0;
    transition: 0.6s;
  }
  #burger__id:checked + .burger__btn {
    background-color: var(--colorYellow);
  }
  #burger__id:checked + .burger__btn::before {
    transform: rotate(45deg);
    top: 0;
  }
  #burger__id:checked + .burger__btn::after {
    transform: rotate(-45deg);
    bottom: 0;
  }
  &__nav {
    position: absolute;
    left: 0;
    top: -400px;
    width: 100%;
    padding: 20px;
    transition: 0.6s;
    display: flex;
    flex-direction: column;
  }
  &__link {
    display: block;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  #burger__id:checked ~ &__nav {
    top: 70px;
  }
}

@media (max-width: $desktop1366) {
  .container {
    max-width: $desktop1340;
  }
}

@media (max-width: $desktop1250) {
  .container {
    max-width: $desktop1200;
  }
}

@media (max-width: $desktop1075) {
  .container {
    max-width: $desktop1050;
  }
  .header_login {
    padding: 13px 35px;
    border: 1px solid var(--colorBlack);
    border-radius: 10px;
    margin: 0px;
  }
  .header {
    &_login {
      padding: 10px 25px;
    }
  }
}

@media (max-width: $tablet950) {
  .container {
    max-width: $tablet930;
  }
  .headers {
    height: 110px;
    width: 100%;
    background-color: var(--colorYellow);
  }
  .header {
    &_nav {
      background: none;
      gap: 26px;
    }
    &_login {
      @include font($fontSize18, $fontWeight400);

      border: none;
    }
  }
}
@media (max-width: $tablet820) {
  .container {
    max-width: $tablet800;
  }
  .headers {
    z-index: 99;
    height: 80px;
    width: 100%;
    background-color: var(--colorYellow);
  }
  .header {
    flex: none;
    padding: 0px;
    display: none;
    &_nav {
      border-radius: 0px;
      gap: 23px;
      @include font($fontSize18, $fontWeight600);
      background: none;
    }
    &_login {
      @include font($fontSize18, $fontWeight400);
      border: none;
    }
  }
  .burger {
    &__nav {
      background-color: var(--colorYellow);
      display: flex;
      gap: 20px;
    }
  }
  .burger__block {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
  .logo {
    width: 40px;
    height: 40px;
    z-index: 99999;
  }
  .header__logo {
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
  .block {
    display: flex;
    flex-direction: column;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }
}
