@import '../../variables/variables.scss';

.headers {
  height: 95px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: var(--colorWhite);
}
.container {
  max-width: $desktop;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 0px 0px;
  &_nav {
    width: 507px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: var(--colorYellow);
    border-radius: 20px;
    @include fontSize22;
  }
  &_login {
    padding: 13px 25px 13px 25px;
    border: 1px solid var(--colorBlack);
    border-radius: 10px;
  }
}

.active {
  color: var(--colorGreen);
}

.burger {
  display: none;
}
.setActive {
}
.burger__btn {
  position: relative;
  display: inline-block;
  z-index: 9999;
  width: 40px;
  height: 3px;
  background-color: var(--colorBlack);
  transition: 0.6s;
}
.burger__btn::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: var(--colorBlack);
  top: -10px;
  left: 0;
  transition: 0.6s;
}
.burger__btn::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: var(--colorBlack);
  bottom: -10px;
  left: 0;
  transition: 0.6s;
}
#burger__id:checked + .burger__btn {
  background-color: var(--colorYellow);
}
#burger__id:checked + .burger__btn::before {
  transform: rotate(45deg);
  top: 0;
}
#burger__id:checked + .burger__btn::after {
  transform: rotate(-45deg);
  bottom: 0;
}
.burger__nav {
  position: absolute;
  left: 0;
  top: -400px;
  width: 100%;
  padding: 20px;
  transition: 0.6s;
  display: flex;
  flex-direction: column;
}
.bureger__link {
  display: block;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
#burger__id:checked ~ .burger__nav {
  top: 70px;
}

@media (max-width: $largeDesktop) {
  .container {
    max-width: $extraLargeDesktop;
  }
}

@media (max-width: 920px) {
  .container {
    max-width: 900px;
  }
  .header_login {
    padding: 13px 35px;
    border: 1px solid var(--colorBlack);
    border-radius: 10px;
    margin: 0px;
  }
  .header {
    &_login {
      padding: 10px 25px;
    }
  }
}
@media (max-width: $miniMobile) {
  .container {
    max-width: 800px;
  }
  .header_login {
    padding: 13px 35px;
    border: 1px solid var(--colorBlack);
    border-radius: 10px;
    margin: 0px;
  }
  .header {
    &_login {
      padding: 10px 25px;
    }
  }
}
@media (max-width: $ultraSmallMobile1) {
  .container {
    max-width: 600px;
  }
  .headers {
    height: 110px;
    width: 100%;
    background-color: var(--colorYellow);
  }
  .header {
    &_nav {
      background: none;
      gap: 26px;
    }
    &_login {
      @include fontSize18;

      border: none;
    }
  }
}
@media (max-width: 540px) {
  .container {
    max-width: 500px;
  }
  .headers {
    z-index: 99;
    height: 80px;
    width: 100%;
    background-color: var(--colorYellow);
  }
  .header {
    flex: none;
    padding: 0px;
    display: none;
    &_nav {
      border-radius: 0px;
      gap: 23px;
      @include fontSize18;
      background: none;
    }
    &_login {
      @include fontSize18;
      border: none;
    }
  }
  .burger {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
  .logo {
    width: 40px;
    height: 40px;
    z-index: 99999;
  }
  .header__logo {
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
  .burger__nav {
    background-color: var(--colorYellow);
    display: flex;
    gap: 20px;
  }
  .block {
    display: flex;
    flex-direction: column;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }
}
