@import '../../../variables/variables.scss';

.main {
  width: 100%;
}
.container {
  max-width: $desktop;
  margin: 0 auto;
  padding: 0 5px;
}
.action {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}
.action__save {
  margin-top: 15px;
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: #eef2d1;
}
@media (max-width: $desktop1200) {
  .container {
    max-width: $desktop1075;
  }
}
@media (width: $tablet950) {
  .container {
    max-width: $tablet930;
    margin: 0 auto;
  }
}
