.block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  background: url('https://cdn.kasta.ua/imgw/loc/0x0/s3/brands/179.png') no-repeat center/cover;
  width: 50%;
  height: 800px;
}
